.contactForm {
  width: 100%;
  height: 86.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactFormCard {
  -webkit-box-shadow: 3px 7px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 7px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 7px 10px 0px rgba(0, 0, 0, 0.75);
  width: 60vw;
  height: 70vh;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  border-radius: 10%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  height: 90%;
  width: 60%;
  top: 0;
  left: 0;
  padding: 1vh;
}

.inputContainer {
  margin: 1vh;
}
.inputContainer > input,
textarea {
  padding-left: 1vh;
  width: 50vh;
  font-size: 1.2em;
  line-height: 5vh;
  outline: none;
  resize: none;
  border: 0.05vh solid black;
  border-radius: 1vh;
  -webkit-box-shadow: 3px 7px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 7px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 7px 10px 0px rgba(0, 0, 0, 0.75);
}
.inputContainer > textarea {
  height: 20vh;
}
.inputContainer > hr {
  -webkit-box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.75);
}

.submitButton {
  background-image: linear-gradient(
    to right,
    #00d2ff 0%,
    #3a7bd5 51%,
    #00d2ff 100%
  );
  margin: 1vh;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  -webkit-box-shadow: 3px 7px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 7px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 7px 10px 0px rgba(0, 0, 0, 0.75);
}

.submitButton:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.myDetails {
  position: absolute;
  right: 5vh;
  top: 4vh;
  margin: 0 1vh;
  height: 83%;
  flex: 1;
  display: flex;

  justify-content: space-around;
  flex-direction: column;
}
.myDetailsItem {
  display: inline;
  padding: 0 1vh;
  border-bottom: 0.1vh solid rgba(0, 0, 0, 0.55);
}
.myDetailsItem > a {
  text-decoration: none;
  color: rgb(255, 0, 0);
}
@media (max-width: 1200px) {
  .contactFormCard {
    width: 70vw;
  }
  .contact-form {
    margin: 0 1.5vh;
    padding: 0;
  }
  .inputContainer {
    margin: 1vh 2vh;
  }
  .inputContainer > input,
  textarea {
    width: 40vh;
  }
}
@media (max-width: 1000px) {
  .myDetails {
    display: none;
  }
}
@media (max-width: 850px) {
  .contactFormCard {
    width: 80vw;
    height: 75vh;
    border-radius: 6%;
  }
  .contact-form {
    width: 100%;
    margin: 0;
  }
  .inputContainer {
    width: auto;
    margin: 0.8vh 0;
  }
  .inputContainer > input,
  textarea {
    width: auto;
  }
}
